
@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,400;0,600;0,700;1,400&display=swap');

:root {
    --primary-color: #0953FF;
    --text-color: #292D40;
    --secondary-text-color: #171B37;
    --secondary-color: #0FCE91;
    --background-color: #fff;
    --link-color: #0FCE91;
    --white: #fff;
}

/* Reset styles */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    text-decoration: none;
}

/* Base styles */
body {
    font-family: 'Rubik', sans-serif;
    font-size: 16px;
    background: var(--background-color);
    color: var(--text-color);
    line-height: 1.6;
}


h1,
h2 {
    font-weight: 600;
    line-height: 1.2;
    margin: 10px 0
}


ul {
    list-style-type: none;
}

#toggle {
    display: none;
}

span a {
    color: var(--secondary-color);
    font-weight: bold;
}

/* Global Fonts */
p, a, li {
    color: var(--secondary-text-color);
    font-weight: normal;
    font-size: 1em;
}

/*Logo styles*/
.logo .mobile-menu{
    display: flex;
    top: 30%;
    margin: auto 0;
}
.logo img {
    top: 0;
    width: 70px;
    height: 70px;
}

/* Global Burger Icon */
nav .icon-burger {
    display: none;
    position: absolute;
    right: 5%;
    top: 80%;
    cursor: pointer;
    transform: translateY(-50%);
}

nav .icon-burger .line {
    width: 30px;
    height: 5px;
    background-color: var(--text-color);
    margin: 5px;
    border-radius: 3px;
}


/* Global Button styles */
.btn {
    display: inline-block;
    padding: 10px 30px;
    cursor: pointer;
    border: none;
    border-radius: 10px;
    color: white;
}

.btn.btn-signup {
    background: transparent;
    color: var(--secondary-color);
}

.btn.btn-login {
    background: var(--secondary-color);
    color: white;
}

.hero-btn button {
    padding: 10px 20px 10px 0;
    background:none;
    border: none;
    outline: none;
    margin: 0;
}

.hero-btn button img {
    width: 200px;
}

nav .btn-outline {
    border: 1px  var(--secondary-color) solid;
}

/*Intro Section Styles*/
section.intro .container {
    font-size: 1.1em;
    text-align: center;
    padding: 20px;
    margin: 0 auto;

}

.nav-item {
    color: var(--white);
    position: relative;
}

/* Current Navigation */
.nav-link:before {
    content: "";
    position: absolute;
    width: 7px;
    height: 7px;
    bottom: -.5em;
    left: 50%;
    border-radius: 50%;
    background-color: var(--secondary-color);
    visibility: hidden;
    transform-origin: center;
    transition: transform 650ms;
}

.nav-list a:hover:before, .current:before {
    visibility: visible;
    transform-origin: center;
}

/* Small Tablet Styles */
@media screen and (max-width: 640px){

    .container.grid {
        display: flex;
        flex-direction: column;
    }

    .hero-text {
        font-size: 1.2em;
        text-align: start;

    }

    .hero-text p {
        padding: 5px;
        font-size: 1.1em;
    }

    .hero-btn {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

}


/* Large Tablets & Laptop Styles */
@media screen and (max-width: 960px) {

    h1,
    h2 {
        font-size: 1.7em;
    }

    a {
        font-weight: 550;
        color: var(--text-color)
    }

    .main.container {
        margin: 0 auto;
        padding: 0 50px;
    }

    .navbar {
        position: relative;
        margin: 50px auto;
    }

    .mobile-menu {
        position: absolute;
        top: 0;
        right: 0;
        cursor: default;
    }


    .flex .nav-primary ul {
        position: fixed;
        text-align: center;
        justify-content: center;
        /*flex-direction: column;*/
        right: 0;
        left: 0;
        top: 5px;
        bottom: 0;
        width: auto;
        height: auto;
        background-color: rgba(255,255,255,.9);
        color: var(--text-color);
        transform: translateX(-100em);
        line-height: 2;
        z-index: 9;
        overflow: hidden;
        transition: all .5s ease-in-out;
    }

    .nav-primary li {
        padding: 20px;
    }

    .flex .nav-secondary ul {
        display: none;
    }


    #toggle:checked ~ .flex .nav-primary ul {
        transform: translateX(0em);
    }


    .container .grid {
        display: grid;
        text-align: center;
    }


    nav .icon-burger {
        display: block;
    }

    nav .icon-burger .line:nth-child(1) {
        transform: translateY(10px) rotate(225deg);
    }

    nav .icon-burger .line:nth-child(3) {
        transform: translateY(-10px) rotate(-225deg);
    }

    nav .icon-burger .line:nth-child(2) {
        opacity: 0;
    }
}

/*Desktop Styles*/
@media screen and (min-width: 960px){
    .logo .mobile-menu {
        display: none;
    }

    h1,
    h2 {
        font-size: 2.2em;
        margin: 10px 0
    }

    /* Navigation Styles */
    .navbar .flex {
        display: flex;
        justify-content: space-between;
    }

    .navbar {
        color: var(--text-color);
        height: 80px;
    }

    .navbar ul {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .navbar a {
        margin: 0 8px;
    }


    .btn:hover {
        transform: scale(0.98);
        cursor: pointer;
    }

    /*Hero */
    .hero{
        margin-top: 5em;
        background-color: var(--background-color);
        color: var(--text-color);
    }

    .hero p {
        margin: 20px 0;
        font-size: 1.4em;
    }

    .main.container {
        max-width: 1100px;
        margin: 0 auto;
        overflow: auto;
        padding: 0 40px;
    }

    .btn:hover {
        transform: scale(0.98);
    }

    nav.flex {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
    }

    .flex .nav-primary {
        display: flex;
        align-items: center;
        width: 50%;
        justify-content: space-between;
    }

    .nav-primary ul span {
        display: none;
    }

    .container.grid {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-areas:
                "header header"
                "section";
        align-items: center;
        height: 100%;
    }

    header {
        grid-area: header;
    }

    section {
        grid-area: section;
    }
}

